<div class="join-us-wrapper">
    <h2>Join and help make a difference</h2>
    <p>Why don't you join us and help preserve your local nature reserve for a very small cost. All funds are directed back to conservation work and publicity for Lenzie Moss.</p> 
    <p>By joining Friends of Lenzie Moss you will also receive emails and news from us, containing a variety of articles relating to Lenzie Moss and forthcoming events.</p> 
    <p>By joining you can ensure that supporters views on important issues such as planning developments and path changes are taken into consideration.</p>

    <p>We would welcome new committee members.</p> 
    <p>The committee meets three times a year in addition to the AGM. Our main activities are to co-ordinate each year's activities on the Moss - and lead some of them too; liaise with the Mugdock Rangers and EDC's Neighbourhood Services officer about conservation work; and apply for grant funding when it's needed.</p> 
    <p>We have also been concerned with the housing development proposals that could have affected the Moss adversely.</p> 
    <p>If you would like to get involved with any of these activities, or just like to join us as a supporting committee member, we would love to hear from you.</p> 
    <p>Contact details can be found on the Contact us page or at the bottom of the page.</p>

    <div class="subscription-form">        
        <h2 class="sub-h2">Subscription Form</h2>

        <p>If you would like to become a member of the Friends of Lenzie Moss
        you can complete the form below, or download the form <a href="../../assets/documents/about/subform.pdf" download="subform.pdf">here</a> and either forward it to our treasurer Mrs.
        Katherine Kelsey, 3 Alexandra Avenue, Lenzie G66 5BE, or email a
        copy to us at friendsoflenziemoss@gmail.com</p>
        <p>Annual membership fee for the year 1 April to 31 March is £10</p>
        
        
        <div class="payment-info">    
            <p>You can pay your subscription either by:</p>
            <div class="border">
                <p>making payment directly into our bank account as follows:</p>
                    <div class="payment-details">
                        <p>Sort code: 83-28-20</p> 
                        <p>Account: 00192756</p>
                    </div>
                <p>Account name is Friends of Lenzie Moss (or try Frnds of Lenzie Moss if your bank restricts spaces)</p>
                <br>
                <p>Please use your surname and initial as your reference.</p>
            </div>
            <p class="or">or</p>
            <div class="border">
                <p>sending a cheque to our treasurer, as above. Cheques should be made payable
                to the “Friends of Lenzie Moss”. Let us know if you would like a receipt.</p>
            </div>
        </div>

        <form
        action="https://formsubmit.co/friendsoflenziemoss@gmail.com
"
        method="POST"
        onsubmit="document.getElementById('submit-btn').disabled = true, document.getElementById('submit-btn').innerHTML = 'Sending...' "
        >
            <h4>Fill in your details:</h4>
            <div class="form-inputs">
                <!-- <input type="hidden" name="_cc" value="mckurin@gmail.com"> -->
                <p>Name</p>
                <input type="text" name="name" placeholder="" required />
                <p>Address</p>
                <input type="text" name="address" placeholder="" required />
                <p>Telephone</p>
                <input type="text" name="telephone" placeholder="" required />
                <p>Email</p>
                <input
                type="hidden"
                name="_next"
                value="localhost:4200/thank-you"
                />

                <div class="col">
                    <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder=""
                    required
                    />
                </div>
            </div>
            <p>How would you prefer us to contact you? Tick ALL boxes you consent to:</p>

            <div class="all-contact-prefs">
                <div class="contact-pref">
                    <label for="post"> Post</label>  
                    <input type="checkbox" name="Contact_preference:post" value="yes">
                </div>
                
                <div class="contact-pref">
                    <label for="email"> Email</label>
                    <input type="checkbox" name="Contact_preference:email" value="yes">
                </div>

                <div class="contact-pref">
                    <label for="text"> Text</label>
                    <input type="checkbox" name="Contact_preference:text" value="yes">
                </div>
                
                <div class="contact-pref">
                    <label for="phone"> Phone</label>
                    <input type="checkbox" name="Contact_preference:phone" value="yes">
                </div>
                
                <div class="contact-pref">
                    <label for="hand delivery"> Hand delivery</label>
                    <input type="checkbox" name="Contact_preference:hand_delivery" value="yes">  
                </div>
            </div>

            <div id="button-div">
                <button id="submit-btn" type="submit">Send</button>
            </div>
        </form>
        <div>
            <h3 class="gdpr-h3">GENERAL DATA PROTECTION REGULATION</h3>
            <ul>
                <li>the information we hold about you is the information you have given us
                on your subscription form. </li>
                <li>we will use your information to contact you for the following purposes: -
                to collect membership subscriptions; to communicate items of interest
                e.g AGMs, events, news items concerning Lenzie Moss; to seek your
                views on matters affecting Lenzie Moss; to circulate our newsletters.</li>
                <li>we will also use, with your additional permission, your name in the
                AGM/EGM Minutes to record attendees at those meetings.</li>
                <li>we ask you to consent to us holding your information and using it for the
                above purposes on all membership renewal forms/meeting forms, and
                you can withdraw/restrict your consent at any time.</li>
                <li>we will not share your information with a third party without your
                express permission.</li>
                <li>we will keep your information secure, either by being password
                protected if electronically held, or in a locked filing cabinet if a hard
                copy.</li>
                <li>when you cease to be a member, or your information changes, we will
                destroy your previous information.</li>
                <li>you have the right to ask us to confirm what information we hold for you
                at any time and also to ask us to destroy it.</li>
            </ul>
            <p>Thank you for your support!</p>
        </div>
    </div>
</div>
